{% extends "base.html" %}
{% load bootstrap3 %}
{% block content %}

{% if not user.is_authenticated%}
<div class="container">
  <br/>
  <div class="row">
    <div class="col">
      <div class="card">
      <div class="card-header">
        Sign up
      </div>
      <br/>
        <div class="container-fluid">
          <form class="row g-3" method="POST">
            {% bootstrap_messages %}
            {% csrf_token %}
            {% bootstrap_form form %}
            <button type="submit" class="btn btn-primary">
              {% bootstrap_icon "star" %} Register
            </button>
            <a class="btn btn-outline-success" href="{% url 'accounts:login' %}">Login</a>
          </form>
        </div>
        <br/>
      </div>
    </div>
    
    <div class="col">
    </div>
    </div>
{% endif %}
{% endblock %}
